<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="​https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css​">
    
</head>

<body> 
    <div>
        <header class="header">
            <div class="main-header">
                <figure class="imagenML">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo Home">
                </figure>
                <form action="GET" class="form-barrabusqueda">
                    <input type="search" name="BarraBusqueda" placeholder="Buscar productos, marcas y más" class="barrabusqueda" >
                    <button type="submit" class="icono-barrabusqueda">
                        <i class="fas fa-search"></i>
                    </button>
                </form>

                <h2 id="cuotas"> <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y tarjeta de credito</h2>
            </div>
            <a href="#" class="burger-menu"> 
                <i class="fa fa-bars burger"></i>
            </a>                 
            <nav class="navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>

                </ul>
                <ul class="right-navbar">
                    <li><a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                                  
                </ul>
            </nav>
            <figure class="homebanner">
                <img src="images\img-home-banner.jpg" class="home-banner">
            </figure>
                      
        </header>       
        <main class="main">

                <h1 class="titulares"> Basado en tu ultima visita</h1>
                <section class="ultimaVisita-ofertas">
                    <article>
                        <div class="contenedorDescripciones">
                            <figure>
                                <img src="images\img-cafetera-moulinex.jpg" alt="Imagen Cafetera">
                                <div class="truck">
                                    <i class="fas fa-truck"></i>
                                </div>
                            </figure>
                            <div class="bottom-description">    
                                <p class="precios">$6.770</p>
                                <p class="descuentos">40% OFF</p>
                            </div>
                            <h2 class="descripciones">Cafetera Moulinex</h2>   
                        </div>
                    </article> 
                    <article>
                        <div class="contenedorDescripciones">
                            <figure>
                                <img src="images\img-macbook-pro-2019.jpg" alt="Imagen Macbook">
                                <div class="truck">
                                    <i class="fas fa-truck"></i>
                                </div>
                            </figure>
                            <div class="bottom-description">       
                                <p class="precios">$230.000</p>
                                <p class="descuentos">20% OFF</p>
                                
                            </div>
                            <h2 class="descripciones">MacBook Pro 2019</h2>
                        </div>
                    </article>
                    <article>
                        <div class="contenedorDescripciones">
                            <figure>
                                <img src="images\img-samsung-galaxy-s10.jpg" alt=" Imagen Samsung Galaxy">
                                <div class="truck">
                                    <i class="fas fa-truck"></i>
                                </div>
                            </figure>
                            <div class="bottom-description">
                                <p class="precios">$75.500</p>
                                <p class="descuentos">10% OFF</p>
                                
                            </div>
                            <h2 class="descripciones">Samsung Galaxy S10</h2>
                        </div>    
                    </article>
                    <article>
                        <div class="contenedorDescripciones">
                            <figure>
                                <img src="images\img-tv-samsung-smart.jpg" alt=" Imagen Smart TV">
                                <div class="truck">
                                    <i class="fas fa-truck"></i>
                                </div>
                            </figure>
                            <div class="bottom-description">
                                <p class="precios">$23.200</p>
                                <p class="descuentos">5% OFF</p>
                                
                            </div>
                            <h2 class="descripciones">SmartTv Samsung 43"</h2>
                        </div>    
                    </article>
                </section>
                <h1 class="titulares">Ofertas</h1>
                <section class="ultimaVisita-ofertas">
                    <article>
                        <div class="contenedorDescripciones">
                            <figure>
                                <img src="images\img-cafetera-moulinex.jpg" alt="Imagen Cafetera">
                                <div class="truck">
                                    <i class="fas fa-truck"></i>
                                </div>
                            </figure>
                            <div class="bottom-description">    
                                <p class="precios">$6.770</p>
                                <p class="descuentos">40% OFF</p>
                            </div>
                            <h2 class="descripciones">Cafetera Moulinex</h2>   
                        </div>
                    </article> 
                    <article>
                        <div class="contenedorDescripciones">
                            <figure>
                                <img src="images\img-macbook-pro-2019.jpg" alt="Imagen Macbook">
                                <div class="truck">
                                    <i class="fas fa-truck"></i>
                                </div>
                            </figure>
                            <div class="bottom-description">       
                                <p class="precios">$230.000</p>
                                <p class="descuentos">20% OFF</p>
                                
                            </div>
                            <h2 class="descripciones">MacBook Pro 2019</h2>
                        </div>
                    </article>
                    <article>
                        <div class="contenedorDescripciones">
                            <figure>
                                <img src="images\img-samsung-galaxy-s10.jpg" alt=" Imagen Samsung Galaxy">
                                <div class="truck">
                                    <i class="fas fa-truck"></i>
                                </div>
                            </figure>
                            <div class="bottom-description">
                                <p class="precios">$75.500</p>
                                <p class="descuentos">10% OFF</p>
                                
                            </div>
                            <h2 class="descripciones">Samsung Galaxy S10</h2>
                        </div>    
                    </article>
                    <article>
                        <div class="contenedorDescripciones">
                            <figure>
                                <img src="images\img-tv-samsung-smart.jpg" alt=" Imagen Smart TV">
                                <div class="truck">
                                    <i class="fas fa-truck"></i>
                                </div>
                            </figure>
                            <div class="bottom-description">
                                <p class="precios">$23.200</p>
                                <p class="descuentos">5% OFF</p>
                                
                            </div>
                            <h2 class="descripciones">SmartTv Samsung 43"</h2>
                        </div>    
                    </article>
                </section>
 
        </main>
            <footer class="footer">
                <div>
                    <section class="separador-footer">
                        <div class="tarjeta-credito">
                            <i class="fas fa-credit-card"></i>
                        </div>
                        <h3>Paga con Tarjeta o Efectivo</h3>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    </section>
                </div>
                <div>
                  <section class="separador-footer">
                        <div class="regalo">
                            <i class="fas fa-gift"></i>
                        </div>
                        <h3>Envío gratis desde $ 2.500</h3>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</p>
                    </section>
                </div>
                <div>
                    <section class="separador-footer">
                        <div class="seguridad">
                            <i class="fas fa-user-shield"></i>
                        </div>
                        <h3>Seguridad, de principio a fin</h3>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
                    </section>
                </div>
                
            </footer>
            <section class="separador-copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
    </div>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
    
</body>
</html>